<!DOCTYPE html>
<html>
<body>

<h2 style="color:black;">Welcome to CIS 9650 Group Project - Spring 2021 </h2>
    <h3> Part A: Data Prep Module </h3>
    <p> <h4>FP-Group-03 Members:</h4> <br>
        1. Aarif Munwar Jahan <br>
        2. Amanda Loh <br>
        3. Manvinder Singh <br>
        4. Prakriti AC
    </p>

</body>
</html>

<!DOCTYPE html>
<html>
<body>

<h3 style="color:black;"> Module Overview: </h3>
    <p>In this module, web scraping techniques using requests, beautifulsoup packages are utilized to collect and manipulate COVID related data from the worldometer website in the following 
        <a href="https://www.worldometers.info/coronavirus/"> hyperlink </a> </p>
    <p> The notebook has a total of five code blocks. <br><br>
        The first four code blocks provide the following data: <br><br>
        1. Summary Data for ALL Global COVID Cases <br>
        2. Summary Data for ACTIVE Global COVID Cases <br>
        3. Summary Data for CLOSED Global COVID Cases <br>
        4. Tabular Data for COVID Cases by Country <br> <br>
        The fifth and final code block provides an interactive interface for exporting each of these four tables <br>
    </p>
 
</body>
</html>

<!DOCTYPE html>
<html>
<body>

<h3 style="color:blue;">In the following cell, we will look at summary data for GLOBAL COVID cases </h3>

</body>
</html>

In [1]:
# Global COVID Cases Summary
# 05-07-21 CIS 9650 Final Project Spring 2021
# This code scrapes the worldometer website to collect summary data for Global COVID-19 cases
# Collected data is presented in three formats: Lists, Dictionaries and Pandas DataFrames

# Import all necessary packages, requests to get url data, beautifulsoup to manipulate collected data and pandas
# to put data into dataframes (tables)

import requests
from bs4 import BeautifulSoup
import pandas as pd

print("COVID Global Data - All Cases\n")

# Using requests package to get data from the worldometer website
url = 'https://www.worldometers.info/coronavirus/'
requests.get(url)
page = requests.get(url)

# Using beautifulsoup package to find targeted desired data for manipulation
soup = BeautifulSoup(page.content, "html.parser")
covid_header = soup.findAll('h1')
covid_num = soup.findAll(class_= 'maincounter-number')

# Get all desired headers (statistic metric) from the soup object and add to a header list
global_cases_header = []
for i in range(len(covid_header)):
    global_cases_header.append(covid_header[i].get_text().strip('\n'))
    
print("Header List: ", global_cases_header)

# Get all numbers corresponding to the statistic metric and add to a number list
global_cases_num_temp = []
for i in range(len(covid_num)):
    global_cases_num_temp.append(covid_num[i].get_text().strip('\n').replace(',',''))
    
global_cases_num = [int(i) for i in global_cases_num_temp]

print("Number List: ", global_cases_num)

# Use zip function to combine the header and number as individual tuples within a list
global_cases_summary = list(zip(global_cases_header,global_cases_num))
print("\n\n\nScraped Data in List Format\n")
print(global_cases_summary)

# Construct a dictionary from the header and number list and display the same data as a dictionary

global_cases_summary_dict = {global_cases_header[i]: global_cases_num[i] for i in range(len(global_cases_header))}

# Alternative way - type casting - global_cases_summary_dict = dict(global_cases_summary)

print("\n\n\nScraped Data in Dictionary Format\n")
print(global_cases_summary_dict)

# Use a pandas dataframe to capture the same data in a table and display the table
global_cases_table = pd.DataFrame({
    "Metric": global_cases_header,
    "Number": global_cases_num,
})
global_cases_table.index.name = "Serial No."

print("\n\n\nScraped Data in Pandas Dataframe Format\n")
display(global_cases_table)
print("\nTABLE 1 - COVID Global Data")

COVID Global Data - All Cases

Header List:  ['Coronavirus Cases:', 'Deaths:', 'Recovered:']
Number List:  [164798090, 3415636, 143646602]



Scraped Data in List Format

[('Coronavirus Cases:', 164798090), ('Deaths:', 3415636), ('Recovered:', 143646602)]



Scraped Data in Dictionary Format

{'Coronavirus Cases:': 164798090, 'Deaths:': 3415636, 'Recovered:': 143646602}



Scraped Data in Pandas Dataframe Format

                        Metric     Number
Serial No.
0           Coronavirus Cases:  164798090
1                      Deaths:    3415636
2                   Recovered:  143646602

TABLE 1 - COVID Global Data

<!DOCTYPE html>
<html>
<body>

<h3 style="color:blue;">In the following cell, we will look at summary data for ACTIVE COVID cases globally </h3>

</body>
</html>

In [2]:
# Active COVID Cases Summary
# 05-07-21 CIS 9650 Final Project Spring 2021
# This code scrapes the worldometer website to collect summary data for ACTIVE COVID-19 cases
# Collected data is presented in three formats: Lists, Dictionaries and Pandas DataFrames

# Import all necessary packages, requests to get url data, beautifulsoup to manipulate collected data and pandas
# to put data into dataframes (tables)

import requests
from bs4 import BeautifulSoup
import pandas as pd

print("COVID Global Data - Active Cases\n")

# Using requests package to get data from the worldometer website
url = 'https://www.worldometers.info/coronavirus/'
requests.get(url)
page = requests.get(url)

# Using beautifulsoup package to find targeted desired data for manipulation
soup = BeautifulSoup(page.content, "html.parser")

# Inspect html code on the website, find the appropriate tag, class or id to get the necessary information as string
covid_active_cases_text = soup.findAll("div", class_= 'panel_front')[0].get_text()

# Split the text into a list to allow for manipulation
active_cases_list = covid_active_cases_text.split()

print("Raw collected data in list format:\n", active_cases_list, "\n\n\n")

# Create emply lists for storing statistics metrics header and number information
active_cases_header = []
active_cases_num_temp = []

# Slice the list to enter appropriate header and numbers information to the header nad number lists, respectively
active_cases_header.extend([" ".join(active_cases_list[1:4]), " ".join(active_cases_list[6:9]), " ".join(active_cases_list[11:14])])
active_cases_num_temp.extend([active_cases_list[0].replace(',',''),active_cases_list[4].replace(',',''),active_cases_list[9].replace(',','')])

# Convert number items in list to integers
active_cases_num = [int(i) for i in active_cases_num_temp]

# Print ordered header and number lists
print("Header list: ", active_cases_header)
print("Number List: ", active_cases_num)

# Use zip function to combine the header and number as individual tuples within a list
active_cases_summary = list(zip(active_cases_header,active_cases_num))
print("\n\n\nScraped Data in List Format:")
print(active_cases_summary)

# Convert the list into a dictionary and display the same data as a dictionary
active_cases_summary_dict = {active_cases_header[i]: active_cases_num[i] for i in range(len(active_cases_header))}

# Alternative way - type casting - active_cases_summary_dict = dict(active_cases_summary)

print("\n\n\nScraped Data in Dictionary Format:")
print(active_cases_summary_dict)

# Use a pandas dataframe to capture the same data in a table and display the table
active_cases_table = pd.DataFrame({
    "Metric": active_cases_header,
    "Number": active_cases_num,
})

active_cases_table.index.name = "Serial No."

print("\n\n\nScraped Data in Pandas Dataframe Format:")
display(active_cases_table)
print("\nTABLE 2 - COVID Active Cases Data")

COVID Global Data - Active Cases

Raw collected data in list format:
 ['17,735,852', 'Currently', 'Infected', 'Patients', '17,635,107', '(99.4%)', 'in', 'Mild', 'Condition', '100,745', '(0.6%)', 'Serious', 'or', 'Critical', 'Show', 'Graph']



Header list:  ['Currently Infected Patients', 'in Mild Condition', 'Serious or Critical']
Number List:  [17735852, 17635107, 100745]



Scraped Data in List Format:
[('Currently Infected Patients', 17735852), ('in Mild Condition', 17635107), ('Serious or Critical', 100745)]



Scraped Data in Dictionary Format:
{'Currently Infected Patients': 17735852, 'in Mild Condition': 17635107, 'Serious or Critical': 100745}



Scraped Data in Pandas Dataframe Format:

                                 Metric    Number
Serial No.
0           Currently Infected Patients  17735852
1                     in Mild Condition  17635107
2                   Serious or Critical    100745

TABLE 2 - COVID Active Cases Data



<!DOCTYPE html>
<html>
<body>
<h3 style="color:blue;">In the following cell, we will look at summary data for CLOSED COVID cases globally</h3>
</body>
</html>

In [3]:
# Closed COVID Cases Summary
# 05-07-21 CIS 9650 Final Project Spring 2021
# This code scrapes the worldometer website to collect summary data for CLOSED COVID-19 cases
# Collected data is presented in three formats: Lists, Dictionaries and Pandas DataFrames

# Import all necessary packages, requests to get url data, beautifulsoup to manipulate collected data and pandas
# to put data into dataframes (tables)

import requests
from bs4 import BeautifulSoup
import pandas as pd


print("\nCOVID Global Data - Closed Cases\n")

# Using requests package to get data from the worldometer website
url = 'https://www.worldometers.info/coronavirus/'
requests.get(url)
page = requests.get(url)

# Using beautifulsoup package to find targeted desired data for manipulation
soup = BeautifulSoup(page.content, "html.parser")

# Inspect html code on the website, find the appropriate tag, class or id to get the necessary information as string
covid_closed_cases_text = soup.findAll("div", class_= 'panel_front')[1].get_text()

# Split the text into a list to allow for manipulation
closed_cases_list = covid_closed_cases_text.split()

print("Raw collected data in list format:\n", closed_cases_list, "\n\n\n")

# Create emply lists for storing statistics metrics header and number information
closed_cases_num_temp = []
closed_cases_header = []


# Slice the list to enter appropriate header and numbers information to the header nad number lists, respectively
closed_cases_header.extend([" ".join(closed_cases_list[1:6]), " ".join(closed_cases_list[8:11]), " ".join(closed_cases_list[13:])])
closed_cases_num_temp.extend([closed_cases_list[0].replace(',',''),closed_cases_list[6].replace(',',''),closed_cases_list[11].replace(',','')])

# Convert number items in list to integers
closed_cases_num = [int(i) for i in closed_cases_num_temp]

# Print the header and numbers list
print("Header list: ", closed_cases_header)
print("Number list: ", closed_cases_num)


# Use zip function to combine the header and number as individual tuples within a list
closed_cases_summary = list(zip(closed_cases_header,closed_cases_num))
print("\n\n\nScraped Data in List Format:")
print(closed_cases_summary)

# Convert the list into a dictionary and display the same data as a dictionary
closed_cases_summary_dict = {closed_cases_header[i]: closed_cases_num[i] for i in range(len(closed_cases_header))}

# Alternative way - type casting - closed_cases_summary_dict = dict(closed_cases_summary)

closed_cases_summary_dict = dict(closed_cases_summary)
print("\n\n\nScraped Data in Dictionary Format:")
print(closed_cases_summary_dict)

# Use a pandas dataframe to capture the same data in a table and display the table
closed_cases_table = pd.DataFrame({
    "Metric": closed_cases_header,
    "Number": closed_cases_num,
})
closed_cases_table.index.name = "Serial No."

print("\n\n\nScraped Data in Pandas Dataframe Format:")
display(closed_cases_table)
print("\nTABLE 3 - COVID Closed Cases Data")

COVID Global Data - Closed Cases

Raw collected data in list format:
 ['147,062,238', 'Cases', 'which', 'had', 'an', 'outcome:', '143,646,602', '(98%)', 'Recovered', '/', 'Discharged', '3,415,636', '(2%)', 'Deaths', 'Show', 'Graph']



Header list:  ['Cases which had an outcome:', 'Recovered / Discharged', 'Deaths Show Graph']
Number list:  [147062238, 143646602, 3415636]



Scraped Data in List Format:
[('Cases which had an outcome:', 147062238), ('Recovered / Discharged', 143646602), ('Deaths Show Graph', 3415636)]



Scraped Data in Dictionary Format:
{'Cases which had an outcome:': 147062238, 'Recovered / Discharged': 143646602, 'Deaths Show Graph': 3415636}



Scraped Data in Pandas Dataframe Format:

                                 Metric     Number
Serial No.
0           Cases which had an outcome:  147062238
1                Recovered / Discharged  143646602
2                     Deaths Show Graph    3415636

TABLE 3 - COVID Closed Cases Data

<!DOCTYPE html>
<html>
<body>
<br>
<h3 style="color:blue;">Finally, the following cell will capture tabular information from the website by each country and display it in a pandas dataframe </h3>

</body>
</html>

In [4]:
# COVID Cases By Country
# 05-07-21 CIS 9650 Final Project Spring 2021
# This code scrapes the worldometer website to collect tabular data for all COVID-19 cases by country
# Collected data is presented in a Pandas DataFrame format


# Import all necessary packages, requests to get url data, beautifulsoup to manipulate collected data, 
# math to floor certain numbers and pandas to put data into dataframes (tables)
import requests
from bs4 import BeautifulSoup
import pandas as pd
from math import floor

# Use requests package to get data from the worldometer website
url = 'https://www.worldometers.info/coronavirus/'
requests.get(url)
page = requests.get(url)

# Use beautifulsoup package to find targeted desired data for manipulation
soup = BeautifulSoup(page.content, "html.parser")

# Setup row indexing by finding all tr tags inside the first tbody tag
soup_row_index = soup.find('tbody').findAll('tr')

# Setup the header information for the dataframe table
countries_data_header = ["Country", "Total Cases", "New Cases","Total Deaths","New Deaths","Total Recovered","New Recovered","Active Cases","Serious,Critical Cases","Cases/1M Population","Deaths/1M Population","Total Tests","Tests/1M Population", "Population"]

# Create an empty list to store row information inside the table
table_row = []

# Use for loop to go through each 'tr' row within the defined index
# Use a second for loop to go through the 'td' tags within the 'tr' tags. 
# The actual data is stored within the 'td' tags
# Once it finds a td tag, the content is appended to the row_data list. 
# This includes empty data and data with whitespace
for row in soup_row_index:
    row_items = []
    for cell in row.findAll('td'):
        row_items.append(cell.text)

    # For non-blank items (td tags with data), use a for loop to collect 14 pieces of data required for the table
    # Do it for each row
    # Use a dictionary to zip each row data with the header in preparation for the dataframe
    if(len(row_items) > 0):
        
        # Make all numeric data in the row floats and replace any whitespace cells with a 0
        for i in range(2,15):
            if not row_items[i].strip(): #this statement checks if a cell is empty
                row_items[i] = 0
            else:
                row_items[i] = floor(float(row_items[i].replace(",",""))) #remove comma from the string to allow type casting
                
        # Add rows with data to the table
        # Convert it to a dictionary so that it can be used in a list to create dataframe later
        countries_data_num = []
        for i in range(1,15):
            countries_data_num.append(row_items[i])  
            dict_row = dict(list(zip(countries_data_header,countries_data_num)))
            
        # Once a single row with data is created, add it to the table and then move on to the next 'tr' row 
        # and repeat tne process until all 'tr' tags are over
        table_row.append(dict_row)

# Create a dataframe from all the table row data created in the list
countries_dataframe = pd.DataFrame(table_row)

# Drop the first 7 rows containing data for continents since we are only interested in data for countries
# Change index to country to get rid of the default sequential index column
final_table = countries_dataframe.drop(range(0,8)).set_index("Country")

# Display the final table
display(final_table)
print("\nTABLE 4 - COVID Cases Data By Country")

,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,"Serious,Critical Cases",Cases/1M Population,Deaths/1M Population,Total Tests,Tests/1M Population,Population
Country,,,,,,,,,,,,,
USA,33770030,22591,601234,636,27242004,39695,5926792,7748,101503,1807,467918133,1406421,332701437
India,25495144,267174,283276,4525,21979703,389700,3232165,8944,18317,204,318292881,228681,1391864443
Brazil,15732836,71730,439050,2188,14152433,0,1141353,8318,73559,2053,47073060,220090,213881340
France,5898347,17210,108040,198,5181684,29118,608623,4015,90189,1652,81932887,1252795,65400058
Turkey,5139485,11937,45186,203,4971245,10125,123054,2232,60371,531,51294008,602522,85132141
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Marshall Islands,4,0,0,0,4,0,0,0,67,0,0,0,59539
Samoa,3,0,0,0,3,1,0,0,15,0,0,0,199568
Saint Helena,2,0,0,0,2,0,0,0,328,0,0,0,6093
Micronesia,1,0,0,0,1,0,0,0,9,0,0,0,116077
China,90894,22,4636,0,85963,18,295,2,63,3,160000000,111163,1439323776

TABLE 4 - COVID Cases Data By Country

<!DOCTYPE html>
<html>
<body>
<br>
<h2 style="color:green;">Interactive Data Export Center </h2>

</body>
</html>

In [5]:
# COVID Cases Interactive Data Exporter Tool
# 05-07-21 CIS 9650 Final Project Spring 2021
# This code asks the user to choose which of the four tables above they would like to export
# This code also asks the user to choose the fomat of export (csv/json), then exports the desired table

# Import all necessary packages, os and csv for csv exports, json for json exports and datetime for adding timestamp
# to the filenames to avoid duplicates
import os, csv
import json
from datetime import datetime

# Take first input from user on which table to export; use try-except to validate user is inputting an integer
try:
    table_choice = int(input(
    """Please Enter: 
    1 - to see and export Summary Data for ALL Global COVID Cases
    2 - to see and export Summary Data for ACTIVE Global COVID Cases
    3 - to see and export Summary Data for CLOSED Global COVID Cases
    4 - to see and export Tabular Data for COVID Cases by Country\n\n"""))
    
except:
    print("Invalid input, please enter a valid input")
    
# Take second input from user on which format to use for the export
export_choice = input(
"""\nWhat format would you like?
    Type c for CSV
    Type j for JSON\n\n""")

# Check and flag if table choice is not one of the four options
if table_choice > 4 or table_choice < 1:
    print("Invalid input, please enter a valid input")

# Check if user chose table 1 and wants a csv export
elif table_choice == 1:
    if export_choice == 'c':
        
        print("""\n\nCSV Export Complete! Please find the file in the corresponding directory. 
    The table is shown below\n""")

        # Display table 1 on the screen
        display(global_cases_table)
        
        # Export csv by adding the header row and then individual row data from the dictionary created in past blocks
        # Use a timestamp to make exported files unique
        with open("Summary_Global_Cases_" + str(datetime.now()) + ".csv", "w") as toWrite:
            writer = csv.writer(toWrite, delimiter=",")
            writer.writerow(["Metric", "Number"])
            
            # Loop through the dictionary and add value to the csv table
            for k, v in global_cases_summary_dict.items():
                writer.writerow([k, v])
    
    # Check if user chose table 1 and wants a json export
    elif export_choice == 'j':
        
        print("\n\nJSON Export Complete! Please find the file in the corresponding directory.")
        
        # Export the dictionary as a json file and store in corresponding directory
        with open("Summary_Global_Cases.json", "w") as writeJSON:
            json.dump(global_cases_summary_dict, writeJSON)
            
        
# Check if user chose table 2 and wants a csv export           
elif table_choice == 2:
    if export_choice == 'c':
        
        print("""\n\nCSV Export Complete! Please find the file in the corresponding directory. 
    The table is shown below\n""")

        # Display table 2 on the screen
        display(active_cases_table)
        
        # Export csv by adding the header row and then individual row data from the dictionary created in past blocks
        # Use a timestamp to make exported files unique
        with open("Summary_Active_Cases_" + str(datetime.now()) + ".csv", "w") as toWrite:
            writer = csv.writer(toWrite, delimiter=",")
            writer.writerow(["Metric", "Number"])
            
            # Loop through the dictionary and add value to the csv table
            for k, v in active_cases_summary_dict.items():
                writer.writerow([k, v])
        
    # Check if user chose table 2 and wants a json export
    elif export_choice == 'j':

        print("\n\nJSON Export Complete! Please find the file in the corresponding directory.")

        # Export the dictionary as a json file and store in corresponding directory
        with open("Summary_Active_Cases.json", "w") as writeJSON:
            json.dump(active_cases_summary_dict, writeJSON)
        
    
# Check if user chose table 3 and wants a csv export                
elif table_choice == 3:
    if export_choice == 'c':
       
        print("""\n\nCSV Export Complete! Please find the file in the corresponding directory. 
    The table is shown below\n""")

        # Display table 3 on the screen
        display(closed_cases_table)

        # Export csv by adding the header row and then individual row data from the dictionary created in past blocks
        # Use a timestamp to make exported files unique
        with open("Summary_Closed_Cases_" + str(datetime.now()) + ".csv", "w") as toWrite:
            writer = csv.writer(toWrite, delimiter=",")
            writer.writerow(["Metric", "Number"])
            
            # Loop through the dictionary and add value to the csv table
            for k, v in closed_cases_summary_dict.items():
                writer.writerow([k, v])
                
    # Check if user chose table 3 and wants a json export       
    elif export_choice == 'j':
        
        print("\n\nJSON Export Complete! Please find the file in the corresponding directory.")
        
        # Export the dictionary as a json file and store in corresponding directory
        with open("Summary_Closed_Cases.json", "w") as writeJSON:
            json.dump(closed_cases_summary_dict, writeJSON)
                
# Check if user chose table 4 and wants a csv export                 
elif table_choice == 4:
    if export_choice == 'c':
        
        print("""\n\nCSV Export Complete! Please find the file in the corresponding directory. 
    The table is shown below\n""")
        
        # Display table 4 on the screen
        display(final_table)
        
        # Export to csv using pandas' to_csv method
        final_table.to_csv("Country_Data.csv")

    # Check if user chose table 4 and wants a json export       
    elif export_choice == 'j':
        
        print("\n\nJSON Export Complete! Please find the file in the corresponding directory.")
       
        # Export to json using pandas' to_json method
        final_table.to_json("Country_Data.json", orient="table")

Please Enter:
    1 - to see and export Summary Data for ALL Global COVID Cases
    2 - to see and export Summary Data for ACTIVE Global COVID Cases
    3 - to see and export Summary Data for CLOSED Global COVID Cases
    4 - to see and export Tabular Data for COVID Cases by Country

4

What format would you like?
    Type c for CSV
    Type j for JSON

c


CSV Export Complete! Please find the file in the corresponding directory.
    The table is shown below

,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,"Serious,Critical Cases",Cases/1M Population,Deaths/1M Population,Total Tests,Tests/1M Population,Population
Country,,,,,,,,,,,,,
USA,33770030,22591,601234,636,27242004,39695,5926792,7748,101503,1807,467918133,1406421,332701437
India,25495144,267174,283276,4525,21979703,389700,3232165,8944,18317,204,318292881,228681,1391864443
Brazil,15732836,71730,439050,2188,14152433,0,1141353,8318,73559,2053,47073060,220090,213881340
France,5898347,17210,108040,198,5181684,29118,608623,4015,90189,1652,81932887,1252795,65400058
Turkey,5139485,11937,45186,203,4971245,10125,123054,2232,60371,531,51294008,602522,85132141
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Marshall Islands,4,0,0,0,4,0,0,0,67,0,0,0,59539
Samoa,3,0,0,0,3,1,0,0,15,0,0,0,199568
Saint Helena,2,0,0,0,2,0,0,0,328,0,0,0,6093
Micronesia,1,0,0,0,1,0,0,0,9,0,0,0,116077
China,90894,22,4636,0,85963,18,295,2,63,3,160000000,111163,1439323776